h1{
    color: blueviolet;
}

img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
}

#thirdDiv{
    background-color: pink;
    padding: 50px;
    border: 4px solid purple;
}

#spanId{
    font-size: 18px;
}


  